 .form-container {
  margin-bottom: 10px;
  padding: 2rem;
}

#personal-information{
  padding-left: 2rem;
}

.form-field {
  margin-bottom: 15px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-field input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
